html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

div {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(9,1,122);
    background-image: url("/images/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.row {
    margin-top: 5px;
}

.div image {
    display: flex;
    align-items: center;
}

.row > div {
    border-top: 1px solid rgb(109, 108, 108);
    background-color: rgba(255,255,255,0.2);
}

.container {
    border: 1px solid rgb(109, 108, 108);
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.heading > div {
    background-color: #55608f;
}

.row:hover {
    background-color: rgb(146, 4, 4);
}

.sm-screen {
    display: none;
}

div {
    color: white;
    margin: 0;
    padding: 0;
}

@media (width < 990px) {
    .sm-screen {
        display: inline-block;
    }

    .lg-screen {
        display: none;
    }
}