html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(100deg, rgba(9,1,122,1) 11%, rgba(116,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.table {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.row {
    margin-top: 5px;
}

.row > div {
        border-top: 1px solid rgb(109, 108, 108);
    }

.container {
    border: 1px solid rgb(109, 108, 108);
    border-radius: 10px;
    margin-top: 20px;
}

.row:hover {
    background-color: rgb(146, 4, 4);
}

.sm-screen {
    display: none;
}

div {
    color: white;
}

@media (width < 990px) {
    .sm-screen {
        display: inline-block;
    }

    .lg-screen {
        display: none;
    }
}