@model EK_tracker.Models.UserRegistrationModel;

@section Styles {
    <link href="css/views/Login.css" rel="stylesheet" type="text/css" />
}
<div class="limiter">
    <div class="wrapper">
        <div class="login-card">
            <form class="form" method="post" asp-controller="Login" asp-action="Index">
                <h1 class="login-text poppins-bold-italic">Login</h1>
                <div class="wrap-input username">
                    <span class="label-input username poppins-regular">Username</span>
                    <input class="input-form" asp-for="UserName" type="text" placeholder="Type your username" />
                    <span class="focus-input" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input password">
                    <span class="label-input password poppins-regular">Password</span>
                    <input class="input-form poppins-medium" asp-for="Password" type="password" placeholder="Type your password" />
                    <span class="focus-input" data-symbol="&#xf190;"></span>
                </div>

                <div class="forgot-password"><a asp-controller="Register" asp-action="Index">No account yet?</a></div>
                <div class="login-form-button">
                    <div class="wrap-login-button">
                        <div class="form-button-background"></div>
                        <button type="submit" class="login-button poppins-medium" value="Login">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
