<nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="#">EK Tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="poules" asp-action="index">Poules</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="matches" asp-action="index">Wedstrijden</a>
                        </li>
                    </ul
                </div>
            </nav>